.env, constants.js
.vs/BingMapsAPI/FileContentIndex/065c6270-9fd8-4d92-920e-f81a83fce8ec.vsidx
.vs/slnx.sqlite
.vs/BingMapsAPI/FileContentIndex/46a0970b-014e-4e51-94eb-a946d79bd563.vsidx
.vs/slnx.sqlite
.vs